.wrapper {
  height: 70vh;
  padding: var(--space-S) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 50;
  position: relative;
}

.logo {
  width: 800px;
  height: 100px;
  position: absolute;
  bottom: 300px;
}

.row {
  position: absolute;
  bottom: var(--space-S);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 var(--space-M);
  cursor: default
}

.row a:hover {
  opacity: 0;
  font-family: "ItalianGaramond";
}

.item a {
  cursor: pointer;
  /* background:red; */
  padding: 5px 4px;
}

.item span {
  opacity: 0;
  font-family: "ItalianGaramondItalic";
  position: absolute;
  pointer-events: none;
  /* background: blue; */
}

.item:hover span {
  opacity: 1;
}
